
.heading{
    text-align: center;
    margin: auto;
    background-color: aquamarine;
    padding: 4rem 0rem;
}


.txtarea{
    text-align: center;
    display: block;
    border:  1rem solid black;
    width: 602px;
    height: 100px;
    border-radius:1rem;
    margin-top: 1rem;
    margin-left: 22.5rem;
    margin-right: 22.5rem;
    max-width: auto; 

}
.btn-translate{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 20px 32px;
        font-size: 16px;
        border-radius: 1rem;
        border-color: black; 
        margin: 3rem 22.5rem;
        max-width: auto; 

}


.output{
    border:1rem solid black;
    display: block;
    width: 602px;
    height: 10vh;
    border-radius: 1rem;
    margin: 2rem 22.5rem;

}